<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planner">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" [routerLink]="['/tabs/profile', '5']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
