<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <!-- Sliding item with text options on both sides -->
      
      <ion-item-sliding *ngFor="let job of this.getJobs()">
      
        <ion-card>
  
          <ion-item-options side="start">
            <ion-item-option (click)="accept(job.jobId)" color="success">Accept</ion-item-option>
            <!-- <ion-item-option color="danger" (click)="reschedule(job.jobId)" color="primary">Reschedule</ion-item-option> -->
          </ion-item-options>
          <ion-item>
            <ion-card-header>
              <ion-card-title>{{job.jobName}}</ion-card-title>
              <ion-card-subtitle>{{job.clientName}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-text><strong>{{job.description}}</strong></ion-text>
              <br>
              <ion-text>{{job.startDateTime.toLocaleDateString()}},{{job.startDateTime.toLocaleTimeString()}}-{{job.endDateTime.toLocaleTimeString()}}</ion-text>
              <br>
              <ion-text>{{job.address}}</ion-text>
            </ion-card-content>
          </ion-item>
         
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="decline(job.jobId)"><ion-icon name="close"></ion-icon>Decline</ion-item-option>
          </ion-item-options>
        
        </ion-card>
        
      </ion-item-sliding>
    </ion-list>
  </ion-content>
